services:
    auth:
      build:
        context: ./apps/auth
        dockerfile: Dockerfile
      environment:
        NODE_ENV: production
      restart: always
      secrets:
        - MONGO_URI
        - JWT_KEY
        - Access_Key_Secret
        
    nginx:
      image: nginx:1.25-alpine-slim
      ports:
        - 80:80
      volumes:
        - ../nginx/nginx.conf:/etc/nginx/nginx.conf
      restart: always

secrets:
  MONGO_URI:
    file: ./secrets/.MONGO_URI.txt
  JWT_KEY:
    file: ./secrets/.JWT_KEY.txt
  Access_Key_Secret:
    file: ./secrets/.Access_Key_Secret.txt